html,
body {
    width: 100%;
    height: 100%;
    background: black;
    margin: 0;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    
    font-size: 32px;
    color: #4bd5ee;
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-name: a-long-time-ago;
    animation-timing-function: ease-out;
}

@keyframes a-long-time-ago {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.defilement {
    
    position: absolute;
    top: 45%;
    left: 50%;
    width: 800px;
    margin: 0 0 0 -400px;
    top: auto;
    bottom: 0;
    height: 50em;
    color: #ffff66;    
    font-size: 64px;
    text-align: justify;
   
    transform-origin: center bottom;
    transform: perspective(300px) rotateX(25deg);
}

.defilement > div {
    position: absolute;
    top: 100%; 
    animation-delay: 4s;
    animation-duration: 20s;
    animation-name: defilement;
    animation-timing-function: linear;
}

@keyframes defilement {
    0% {
        top: 100%;
        opacity: 1;
    }

    80% {
        opacity: 1; 
    }

    100% {
        top: 0;
        opacity: 0;
    }
}